* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', system-ui, Tahoma, sans-serif;
}

.App {
    margin: 32px;
}

.MainContent {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .MainContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
